<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<settings>
	<setting name="logImpl" value="log4j" />
</settings>



<typeAliases>

<!--设置别名-->
	<typeAlias type="com.pojo.Hwork" alias="Hwork"/>
	<typeAlias type="com.pojo.Admin" alias="Admin"/>
	<typeAlias type="com.pojo.Teacher" alias="Teacher"/>
	<typeAlias type="com.pojo.Student" alias="Student"/>
	<typeAlias type="com.pojo.Thwork" alias="Thwork"/>
	<typeAlias type="com.pojo.Notice" alias="Notice"/>
	<typeAlias type="com.pojo.Class" alias="Class"/>
	<typeAlias type="com.pojo.Shwork" alias="Shwork" />
	<typeAlias type="com.pojo.Hworkss" alias="Hworkss" />
</typeAliases>


	<!--分页-->
<plugins>
	<plugin interceptor="com.github.pagehelper.PageInterceptor"></plugin>
</plugins>

<!--映射文件的设置 -->
<mappers>
	<mapper resource="com/mybatis/StuMapper.xml"/>
	<mapper resource="com/mybatis/AdminMapper.xml"/>
	<mapper resource="com/mybatis/TeaMapper.xml"/>
</mappers>

</configuration>
